block config
  include variables
doctype html
html(lang="es")
  head
    title= pageTitle + " | My Website"
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1.0, width=device-width")
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:site" content=twitterAccount)
    meta(property="og:title" content=pageTitle)
    meta(property="og:description" content=pageDescription)
    meta(property="og:image" content=pageImage)
    link(rel="stylesheet" href="assets/css/styles.css")
    link(rel="shortcut icon" href="img/favicon.png")
    
  body
    include ../includes/header
    include ../includes/main-menu
    block main
    include ../includes/footer

    //- script(src="assets/js/vendors/jquery.min.js")
    //- script(src="assets/js/vendors/bootstrap.min.js")
    //- script(src="assets/js/vendors/slick.min.js")
    script(src="assets/js/main.js")
